@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-btn-bg: #D91B7E;
  --color-btn-text: #DB2777;
  --color-header: #0F172A;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

body {
  @apply font-sans;
}