@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-btn-bg: #D91B7E;
  --color-btn-text: #DB2777;
  --color-header: #0F172A;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

body {
  @apply font-sans;
}

.link-section {
  h3 {
    @apply text-xs font-bold text-header tracking-[0.6px] mb-4;
  }
  ul {
    @apply flex flex-col gap-2.5 text-xs text-[#64748B];
  }
}